fastapi==0.132.0
uvicorn[standard]==0.41.0
python-multipart==0.0.22
pydantic==2.12.5
protobuf==3.20.3
google-cloud-storage==2.9.0
google-cloud-tasks==2.13.0
mediapipe==0.10.11
opencv-python-headless==4.10.0.84
numpy==1.26.4